<a href="https://colab.research.google.com/github/timburke55/advent_of_code/blob/main/advent_of_code_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [8]:
from google.colab import drive 
drive.mount('/content/drive')
%cd /content/drive/My\ Drive/Advent\ of\ Code\ 2020/02

Mounted at /content/drive
/content/drive/My Drive/Advent of Code 2020/02

In [10]:
passwords = pd.read_csv('advent_of_code_2_input.txt', sep='-| |: ', header = None, engine = 'python')

passwords

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

      0   1  2                     3
0     9  11  p         pppppppppxblp
1     2   4  b                 bbxbb
2     3   5  q                 dqfqb
3     5   8  g             ggcgggglg
4    10  18  l  gllpmlgtrmnllhllrlll
..   ..  .. ..                   ...
995  10  12  t          hnjdfgrhtgkl
996   2   4  d               dbddddc
997  13  14  g      gggggggbgggmgmgm
998   4  12  r         rrrzrgkrrrrkr
999  14  17  n   nnhnnnnnnnnnnnnnhnn

[1000 rows x 4 columns]

In [21]:
valid_passwords1 = 0

for index, row in passwords.iterrows():
  if row[3].count(row[2]) >= row[0] and row[3].count(row[2]) <= row[1]:
   valid_passwords = valid_passwords + 1

print(valid_passwords1)

628

In [35]:
valid_passwords2 = 0

for index, row in passwords.iterrows():
  check1 = 0
  check2 = 0
  if row[3][row[0]-1] == row[2]:
    check1 = 1
 
  if row[3][row[1]-1] == row[2]:
    check2 = 1
  if check1 + check2 == 1:
    valid_passwords2 = valid_passwords2 + 1

print(valid_passwords2)

705